/* @import url('https://rsms.me/inter/inter.css'); */

  @import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Protest+Riot&display=swap');
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  overscroll-behavior-y: none;
  background: #f5f5f5;
  /* font-family: 'Magic', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: 'Protest Riot', sans-serif; */
  /* font-family: 'Protest Revolution', sans-serif; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: b7b7b7;
}

a {
  color: b7b7b7;
  /* font-family: 'Inter var', sans-serif; */
}

a {
  pointer-events: all;
  color: b7b7b7;
  text-decoration: none;
}

svg {
  fill: black;
}
