
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  overscroll-behavior-y: none;
  background: #f5f5f5;
  /* font-family: 'Magic', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: b7b7b7;
}

a {
  color: b7b7b7;
}

a {
  pointer-events: all;
  color: b7b7b7;
  text-decoration: none;
}

svg {
  fill: black;
}
